:root {
  --themeColor: #1abc9c
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 30px;
}

nav,
#footer {
  background-color: #2c3e50;
}

.nav-item .nav-link.active,
#about {
  background-color: var(--themeColor);
}

.line {
  background-color: white;
  height: 4px;
  width: 80px;
}

#portfolio .line,
#contact .line {
  background-color: #1a252f;
}

#portfolio h2,
#contact h2 {
  color: #1a252f;
}

#portfolio img {
  cursor: pointer;
}

.layer {
  background-color: #1abc9ce6;
  opacity: 0;
  transition: all 0.4s;
  pointer-events: none;
}

.item:hover .layer {
  opacity: 1;
}

#modal {
  background-color: rgb(13 110 253 / 25%);
}

.form-control:focus {
  box-shadow: none;

}

#contact button {
  background-color: var(--themeColor);

}

#contact label {
  color: var(--themeColor);
  z-index: -1;
  transition: all 0.5s;
}

#footer>p {
  background-color: #1a252f;
}

#footer i {
  padding: 10px;

}